
.m-top {
  margin-top: 15px;
}

.tabs {
  width: 100%;
}

.offer_wrapper {
  display: flex;
  align-items: center;
}

.round_day_icon {
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 2px dashed black;
  background-image: linear-gradient(to right top, #00f4ff, #00e4fe, #00d4fa, #00c3f4, #12b2eb);
}

.round_day_icon_plus {
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 2px dashed black;
  background-image: linear-gradient(to right top, #00ff4e, #00ff74, #00ff92, #00ffac, #14ffc2);
}

.round_day_icon_premium {
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 2px dashed black;
  background-image: linear-gradient(to right top, #e92f2f, #e53938, #e14241, #dd4a49, #d85151);
}

.nav-link {
  border-radius: 8px;
  border-top: 3px solid #33B8FF;
  border-top-width: 4px
}

.offer_text_box {
  background: whitesmoke;
  border-radius: 8px;
  border-top: 3px solid #33B8FF;
  border-top-width: 4px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 30px 30px 10px 30px;
}


