@import "./_reja_S1";
@import "./_reja_S2";
@import "./_reja_S3";
@import "./_reja_S4";
@import "./_reja_S5";

.navbar a {
  font-size: 26px;
  color: whitesmoke;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}