// About


#about {

  color: black;
  padding: 20px;
}

.about_box {

  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;


}


.section_header {
  font-size: 24px;
  padding-top: 20px;

}

.about_icon {
  width:100px;
  height: 100px;
  margin: 0 auto;
}

.about_desc {
  margin: 10px 0;
  color: black
}

hr {
  border: 2px solid black;
  width: 50%;

}


.round_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}


.btn {
  background: transparent;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  margin-top: 20px;


  a {
    color: whitesmoke;
    text-transform: uppercase;

  }


}

.zoom:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

  -webkit-transition: transform 1s ease-in;
  -moz-transition:transform 1s ease-in;
  -ms-transition:transform 1s ease-in;

}


#about_animation {

  opacity: 0;
  -webkit-animation: fadeIn 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: fadeIn 0.5s forwards;
  animation-play-state: running;


}





@-webkit-keyframes fadeIn {
  25% { opacity: 0.2;}
  50% {opacity: 0.4;}
  75% {opacity: 0.7;}
  100% { opacity: 1; }
}

@keyframes fadeIn {
  25% { opacity: 0.2;}
  50% {opacity: 0.4;}
  75% {opacity: 0.7;}
  100% { opacity: 1; }
}


