


#home {
  color: whitesmoke;
  font-size: 1.5rem;
}

.main_arrow {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.logo_main {
  width: 250px;
  height: 200px
}




.btn_header {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-self: center;
  margin: 2vh auto;
  padding: 10px 15px;
  color: white;
  border: 1px solid lightgrey;
  border-radius:5px;

  a {
    color: darkslategrey;

  }


  &:hover {
    background-image: linear-gradient(to right top, #350bec, #0068ff, #0095ff, #00bafc, #77d9ed);

    a {
      text-decoration: none;
      color: whitesmoke;
    }

  }

}

#main_navbar {
  height: 50px;
  transition: 1s;
}

.navbar {

  transition: 1s;

}

.navbar {
  background-image: linear-gradient(to right top, #350bec, #0068ff, #0095ff, #00bafc, #77d9ed);
  opacity: 1;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;


  &-toggler {
    border: none;
  }

  a {
    color: whitesmoke;
    cursor: pointer;

    &:hover {
      color: orange
    }
  }

  img {
    height: 40px;
    width: 40px;
    margin: 0 auto;
  }



}

.navbar-light .navbar-nav .active > .nav-link {
  color: whitesmoke;
}

.flex_hamburger {
  display: flex;
  justify-content: flex-end;
}


.flex_header {
  display: flex;
  flex-direction: row;
}

