
.body_pic {
  background: url('/app/images/main_pic.jpg');
  background-size: cover;
  width:100%;
  height: 100vh;
}

#home {
  color: whitesmoke;
  font-size: 1.5rem;
}

.main_arrow {
  width: 50px;
  height: 50px;
}

.logo_main {
  width: 250px;
  height: 200px
}


.btn_header h1 {
  margin: 0;


}

.navbar {
  background: dimgrey;
  opacity: 1;
  border-bottom: 2px solid orange;
  font-size: 0.9rem;
  font-weight: bold;


  &-toggler {
    border: none;
  }

  a {
    color: whitesmoke;
    cursor: pointer;

    &:hover {
      color: orange
    }
  }

  img {
    height: 40px;
    width: 40px;
    margin: 0 auto;
  }

}

.navbar-light .navbar-nav .active > .nav-link {
  color: whitesmoke;
}

.flex_hamburger {
  display: flex;
  justify-content: flex-end;
}
