


#home {
  color: whitesmoke;
  font-size: 1.5rem;
}

.main_arrow {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.logo_main {
  width: 250px;
  height: 200px
}




.btn_header {
  margin-top: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right top, #350bec, #0068ff, #0095ff, #00bafc, #77d9ed);

  a {
    color: whitesmoke;
    font-size: 30px;

  }

  h1 {
    padding: 0;
    margin: 0;
    line-height:2;
  }

  &:hover {
    background-image: linear-gradient(to right top, #350bec, #0068ff, #0095ff, #00bafc, #77d9ed);

    a {
      text-decoration: none;
    }

  }

}

#main_navbar {
  height: 50px;
  transition: 1s;
}

.navbar {

  transition: 1s;

}

.navbar {
  background-image: linear-gradient(to right top, #350bec, #0068ff, #0095ff, #00bafc, #77d9ed);
  opacity: 1;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;


  &-toggler {
    border: none;
  }

  a {
    color: whitesmoke;
    cursor: pointer;

    &:hover {
      color: orange
    }
  }

  img {
    height: 40px;
    width: 40px;
    margin: 0 auto;
  }



}

.navbar-light .navbar-nav .active > .nav-link {
  color: whitesmoke;
}

.flex_hamburger {
  display: flex;
  justify-content: flex-end;
}


.flex_header {
  display: flex;
  flex-direction: row;
}

