
#author {
  margin-top: 30px;

  p {
    color: black;
  }

}

.author_img {
  width: 250px;
  height: 250px;
}



.skill_hex {

  margin: 10px;
  color: white;
  font-size: 12pt;
  background-image: linear-gradient(to right top, #ffa806, #f7b940, #f1c867, #edd68d, #ebe1b2);

}
