
#author {
  margin-top: 30px;

  p {
    color: black;
  }

}

.author_img {
  width: 250px;
  height: 250px;
}



.skill_hex {

  margin: 10px;
  color: white;
  font-size: 12pt;
  background-image: linear-gradient(to right top, #5a6794, #7682a9, #939ebd, #b1bbd2, #d1d8e7);
}
