
// Contact

.contact_header {
  width: 100vw;
  height: 100px;
  text-align: center;
  color: whitesmoke;
  top: 100px;
  position: relative;

}

.contact_pic {
  background-image: linear-gradient(to right top, #1f1766, #211981, #241a9e, #2619bb, #2917d8);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;

}

.form-control {
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
}

#form_name, #form_email, #form_message {
  background: transparent;
}

.home_arrow  {
  background: transparent;
  border: none;
  float: right;

  img {
    width: 70px;
    height: 70px;

  }
}

#contact {
  clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);

}

.top_padding {
  padding-top: 15vh;
}

.section_contact h2, .section_contact p {
  color: whitesmoke;
}