

* {
  font-family: 'Lora', serif;
  box-sizing: border-box;
}


h2, h1 {
  font-size: 2rem;
  color: whitesmoke;
}

@media (min-width: 992px) {
  h1, h2{font-size: 2.5rem;}
}



.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-right: 0;
  margin-left:0;
}


// Header



.viewport_height {
  height: 95vh;
  width: 100vw;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}



.header_content_box {
  vertical-align: middle;
}

.header_text h1, h2 {
  color: black

}


.navbar a {
  font-size: 26px;
  color: whitesmoke;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}


a {
  color: black;
}


.text {
  display: table;
  width: 100%;
  height: 100%;
}
.inner_text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}




// Body

.reja_pic {
  background: url('/app/images/reja_color.gif');
  background-size: cover;
  height: 92vh;
  width: 100%;
  background-repeat: no-repeat;

}

.radzikowskiego_pic {
  background: url('/app/images/radzikowskiego_color.gif');
  background-size: cover;
  height: 92vh;
  width: 100%;
  background-repeat: no-repeat;

}

hr {
  border: 2px solid whitesmoke;
  width: 50%;

}


.btn {
  background: transparent;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  margin-top: 20px;


  a {
    color: whitesmoke;
    text-transform: uppercase;

  }


}




