@import "../sass/Homepage/_homepage";
@import "../sass/Homepage/_About";
@import "../sass/Homepage/_Author";
@import "../sass/Homepage/_Projects";
@import "../sass/Homepage/_Contact";
@import "../sass/Homepage/_LetsConnect";
@import "../sass/Homepage/__Header";


* {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1rem;
}



